.container {
  width: 50%;
  max-width: 1440px;
  margin: 32px auto;
  background-color: var(--blue);
  border-radius: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.playerWrapper {
  margin: 20px 30px;

}

.title {
  font-size: 30px;
  font-weight: bold;
  color: var(--primary);
  text-align: center;
}

.creator {
  font-size: 20px;
  font-weight: 700;
  color: var(--secondary);
  text-align: right;
  font-style: italic;
}

.emdash {
  margin-right: 4px;
}

.commentBox {
  background-color: white;
  width: 100%;
  border-radius: 5px;
  margin: auto;
  padding: 15px;

}
.commentText {
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  line-height: 1.4;
}

.commentFooter {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: 16px;
}

.rating {
  display: flex;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    margin: 16px;
  }
  .content {
    padding: 24px;
  }
  .header {
    gap: 8px;
  }
  .title {
    font-size: 24px;
  }
  .subtitle {
    font-size: 18px;
  }
  .comment {
    padding: 32px 24px 24px 48px;
  }
  .comment::before {
    font-size: 72px;
    left: 12px;
  }
  .commentText {
    font-size: 16px;
  }
  .commentFooter {
    font-size: 14px;
  }
  .editLink {
    font-size: 14px;
  }
  .icon {
    width: 20px;
    height: 20px;
  }
}
