.card {
  display: flex;
  flex-direction: column;
  background-color: var(--blue) ;
  color: var(--primary);
  border-radius: 8px;
  width: 30%;
  transition: 0.5s ease;
}

.card:hover {
  background-color: rgb(59, 87, 123);
}

.thumbnail {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.title {
  font-size: 18px;
  font-weight: 800;
}

.subtitle {
  font-size: 13px;
  font-weight: normal;
}

.comment {
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
}

.rating {
  display: flex;
  align-items: center;
}

.star {
  width: 20px;
  height: 20px;
}

@media (max-width: 768px) {
  .title {
    font-size: 16px;
  }
  .subtitle {
    font-size: 14px;
  }
}

@media (max-width: 900px) {
  .card {
    width: 80%;
  }
}